
<body id="d">
    <br><br>
<div style="text-align: center;font-weight: bold; font-size: 25px; color:goldenrod"> Si vous voulez réserver contacter Nous !</div>

<br><br>
<table class="table" table striped>
    <thead>
        <tr><th>
            <img src="/assets/tele.jpg" style="width: 40px; height: 40px;"/> N° de Téléphone
        </th><th>55 872 603</th><th>24 948 098</th></tr>
        <tr><th><img src="assets/email.jpg" style="width: 40px; height: 40px;"/> Email</th><th> tunisiatravel@gmail.com</th><td></td></tr>
        <tr><th><img src="assets/fcb.jpg" style="width: 40px; height: 40px;"/> Facebook </th>
        <th>TunisiaTravel</th><td></td>
        <tr><th><img src="assets/inst.jpg" style="width: 40px; height: 40px;"/> Instagram </th>
            <th>tunisia.travel</th><td></td>
    </tr>
    </thead>
</table>
<br><br>
<div style="text-align: center;">
<button    class="btn btn-warning " [routerLink]="['/accueil']">RETOUR à L'ACCUEIL</button><br><br>
    <button (click)="onAuth()" class="btn btn-secondary">  ADMIN </button>
    
</div>
<br><br><br>
</body>


